{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <h3>О проекте</h3>
  <p>KinoZ — это онлайн-платформа для любителей кино, объединяющая большую базу
    фильмов и активное сообщество.</p>
  <br>
  <p>Здесь вы найдете тысячи фильмов самых разных жанров с детальной информацией:
    актерский состав, трейлеры, постеры, а также отзывы и оценки других
    пользователей.</p>
  <br>
  <p>Интуитивно понятный
    интерфейс и мощные фильтры позволяют легко находить фильмы по жанру, году выпуска
    или популярности.</p>
  <br>
  <p>Пользователи могут создавать профили, подписываться друг на друга, оставлять
  комментарии и делиться своими впечатлениями.</p>
  <br>
  <p>"KinoZ" — это не просто место для поиска фильмов, но и пространство для общения,
    где каждый киноман может найти единомышленников и обсуждать любимые фильмы.</p>
  <p> Ссылка на репозиторий в GitHub: <a href="https://github.com/kasyak999/KinoZ" target="_blank">https://github.com/kasyak999/KinoZ</a>
{% endblock %}