<p><b>Жанр:</b> 
{% for genres in object.genres.all %}
    {% if forloop.last %}
    {{ genres }}
    {% else %}
    {{ genres }}, 
    {% endif %}
{% endfor %}</p></p>
<p><b>Страна:</b>
{% for country in object.country.all %}
    {% if forloop.last %}
    {{ country }}
    {% else %}
    {{ country }}, 
    {% endif %}
{% endfor %}</p>
<p><b>Рейтинг кинопоиска</b> {{ object.rating }} (оценок {{ object.votecount }})</p>
<p><b>Категория</b> {{ object.cat }}</p>
<!-- <p><b>Режиссер</b> Роб Коэн</p>
<p><b>Актеры</b> Пол Уокер, Вин Дизель, Мишель Родригес, Джордана Брюстер, Мэтт Шульце</p>
-->