{% extends "base.html" %}

{% block content %}
  <!-- Если в запросе передан GET-параметр с указанием страницы, 
    куда надо перейти после входа. -->
  {% if next %}
    <!-- Если пользователь уже залогинен, но не обладает нужными правами. -->
    {% if user.is_authenticated %}
      <p>
        У вашего аккаунта нет доступа к этой странице.
        Чтобы продолжить, войдите в систему с аккаунтом,
        у которого есть доступ.
      </p>
    {% else %}
      <p>
        Пожалуйста, войдите в систему,
        чтобы просматривать эту страницу.
      </p>
    {% endif %}
  {% endif %}
  <h3>Войти в систему</h3>
    <!-- В атрибуте action указываем адрес, куда должен отправляться запрос. -->
    <form method="post" action="{% url 'login' %}">
      <table>
        {% csrf_token %}
        {{ form.as_table }}
      </table>
      <!-- В скрытом поле передаём параметр next, 
      это URL для переадресации после логина. -->
      <input type="hidden" name="next" value="{{ next }}">
      <input type="submit" value="Отправить">
    </form>
    <a href="{% url 'password_reset' %}">Забыли пароль?</a> / 
     <a href="{% url 'registration' %}">Регистрация</a>
          
{% endblock %}