{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% block title %}
Добавить фильм
{% endblock %}

{% block content %}  
<h3>Добавить фильм</h3>

{% if messages %}
    <ul>
    {% for message in messages %}
		<li>{% if message.tags == 'error' %}
      <font color='red'>
		{% else %}
			<font color='green'>
		{% endif %}
		{{ message }}</font></li>
    {% endfor %}
    </ul>
{% endif %}


<p>Введите ссылку фильма на кинопоиске.</p>
<p>Пример: <b>https://www.kinopoisk.ru/film/594554/</b></p>
<br>
<form method="post">
	{% csrf_token %}
	<label for="film_title">Ссылка на кинопоск:</label>
	<input  type="text" id="film_title" name="film_id" 
		required placeholder='https://www.kinopoisk.ru/film/<id_film>/...'
		style="width: 250px;">
	<input type="submit" value="продолжить">
</form>
{% endblock %}