.osnova {
 /* border: 1px solid #e23408;  /*рамка*/
  margin-bottom: 10px;
  padding: 5px;
  h2 {
    margin: 0px;
  }
  h2 a {
    color: #000000;
  }
  h2 a:hover {
    text-decoration:underline; /* подчеркивание*/
  }
}

.osnova-head {
  /* border: 1px solid #3be208;  /*рамка*/
  word-wrap: break-word;
  display: flex;
  /*flex-wrap: wrap; /* свойство, указывающее правило переноса элементов при изменении ширины окна*/
  .poster {
    width: 55px;
    height: 90px;
    box-shadow: -5px 5px 7px #003300; /* тень элемента: x y размытие цвет*/
    border-radius: 10px; /*закругление картинк*/
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .avatar{
    width: 60px;
    height: 60px;
    box-shadow: -5px 5px 7px #003300; /* тень элемента: x y размытие цвет*/
    border-radius: 10px; /*закругление картинк*/
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.osnova:hover {
  border: 1px solid #006600;  /*рамка*/
  background: rgba(0, 102, 0, 0.1); /*прозрачный фон*/
  border-radius: 10px; /*закругление картинк*/
}