.avatar{
    width: 60px;
    height: 60px;
    box-shadow: -5px 5px 7px #003300; /* тень элемента: x y размытие цвет*/
    border-radius: 10px; /*закругление картинк*/
    margin-right: 5px;
    margin-bottom: 5px;
}

.poster {
    width: 55px;
    height: 90px;
    box-shadow: -5px 5px 7px #003300; /* тень элемента: x y размытие цвет*/
    border-radius: 10px; /*закругление картинк*/
    margin-right: 5px;
    margin-bottom: 5px;
  }