{% load static %}

<header>
  <link rel="stylesheet" href="{% static 'css/text.css' %}" type="text/css">
  {% comment %} <div><a href="{% url 'films:index' %}"><img src="{% static 'images/kinozfun.png' %}"></a></div> {% endcomment %}
  <div class="qwert">KinoZ</div>
  <div class="qwert1">для любителей кино</div>
  <div class="menu-top">
    <div>Здравствуйте <b>
      {% if user.is_authenticated %}
        {{ user.username }}
      {% else %}
        гость
        <a href="{% url 'login' %}">Войти</a>
      {% endif%}</b>
    </div>
    <div>
      <form action="/search/" method="get">
        <input type="text" size="25" placeholder='Введите название фильма' name="search"
        value="{{ request.GET.search }}">
        <input type="submit" value="поиск">
      </form>
    </div>
  </div>
</header>