<div class="menu">
    <ul>
      {% with request.resolver_match.view_name as view_name %}  
      <li><a href="{% url 'films:index' %}" class="{% if view_name == 'films:index' %}a-active{% endif %}">Главная</a></li>
      <li><a href="{% url 'films:search' %}" class="{% if view_name == 'films:search' %}a-active{% endif %}">Поиск</a></li>
      <li><a href="{% url 'films:add_film' %}" class="{% if view_name == 'films:add_film' %}a-active{% endif %}">Добавить фильм</a></li>
      
      <br>
      {% if user.is_authenticated %}
        <!-- Это блок ссылок для авторизованного пользователя -->
				<li><a href="{% url 'user' username=user %}" class="{% if view_name == 'user' %}a-active{% endif %}">Личный кабинет</a></li>
        <li>
					<a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
						Выйти
					</a>
					<form method="post" action="{% url 'logout' %}" id="logout-form" style="display: none;">
						{% csrf_token %}
					</form>
				</li> 
        {% if user.is_superuser%}
          <li><a href="{% url 'admin:index' %}" class="{% if view_name == '' %}a-active{% endif %}">Admin меню</a></li>
        {% endif %}
        <!-- Конец блока ссылок для авторизованного пользователя -->
      {% else %}
        <!-- А здесь блок ссылок для неавторизованного пользователя -->
        <li><a href="{% url 'login' %}" class="{% if view_name == 'login' %}a-active{% endif %}">Войти</a></li>
        <li><a class="{% if view_name == 'registration' %}a-active{% endif %}" href="{% url 'registration' %}">Регистрация</a></li>
                 
        <!-- Конец блока ссылок для неавторизованного пользователя -->   
      {% endif %}
      {% endwith %}
    </ul>
  </div>