{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ result_kp.name }} / {{ result_kp.name_orig }} ({{ result_kp.year }})
{% endblock %}

{% block content %}    
  <link rel="stylesheet" href="{% static 'css/film-film.css' %}" type="text/css">
  <h1>{{ result_kp.name }}</a> <font color=#676767>/ {{ result_kp.name_orig }}</font> ({{ result_kp.year }})</h1>
  <div class="top">
    <div class="top_right">
      <a href='{{ result_kp.poster.0}}' target="_blank"><img src="{{ result_kp.poster.1}}"></a>
    </div>
    <div class="top_left">
      <p><b>Год выпуска</b> {{ result_kp.year }}</p>
      <p><b>Страна</b> {{ result_kp.country }}</p>
      <p><b>Жанр</b> {{ result_kp.genres }}</p>
      <p><b>Рейтинг кинопоиска</b> {{ result_kp.rating }} (оценок {{ result_kp.votecount }})</p>
      <p><b>Категория</b> {{ result_kp.cat }}</p>
      <!-- <p><b>Режиссер</b> Роб Коэн</p>
      <p><b>Актеры</b> Пол Уокер, Вин Дизель, Мишель Родригес, Джордана Брюстер, Мэтт Шульце</p>
      -->
      {% if result_kp.scrinshot %}
        <p>
          {% for i in result_kp.scrinshot %}
          <a href='{{ i.imageUrl }}' target="_blank"><img src="{{ i.previewUrl }}"></a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
  <div class="text">
    <p><b>О фильме:</b>
      {{ result_kp.description }}
    </p>
  </div>
{% endblock %}