{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% block title %}
  {{ object.name }} / {{ object.name_orig }} ({{ object.year }})
{% endblock %}

{% block content %}  
  <link rel="stylesheet" href="{% static 'css/film-film.css' %}" type="text/css">
  <h1>{{ object.name }}</a> <font color=#676767>/ {{ object.name_orig }}</font> ({{ object.year }})</h1>

  <div style="display: flex; justify-content: flex-end;">
  {% if is_favorite %}
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить из избранного">
    </form>
  {% else %}
      <form method="post">
          {% csrf_token %}
          <input type="submit" value="Добавить в избранное">
      </form>
  {% endif %}</div>


  <div class="top">
    <div class="top_right">
      {% with object.poster|split as poster %}
        <a href='{{ poster.0 }}' target="_blank">
        {% include "includes/film/poster.html" %}</a>
      {% endwith %}
    </div>
    <div class="top_left">
      {% include "includes/film/description.html" %}
      <br>
      {% if object.scrinshot %}
        <p>
          {% for i in object.scrinshot %}
          <a href='{{ i.imageUrl }}' target="_blank"><img src="{{ i.previewUrl }}"></a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
  <div class="text">
    <p><b>О фильме:</b>
      {{ object.description }}
    </p>
  </div>
  <br>
  <style>
    form label {
      display: none;
    }
  </style>
  {% if user.is_authenticated %}
    <!-- Указываем, на какой адрес нужно отправить POST-запрос -->
    <center><form action="{% url 'films:add_comment' object.pk %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Добавить отзыв">
    </form> </center>
  {% endif %}
  {% if page_obj.paginator.count > 0 %}
  <br><p>Всего отзывов о фильме: {{ page_obj.paginator.count }}</p><br>
  {% for comment in page_obj %}
    <p>
      {% if comment.author.avatar %}
        <img src="{{ comment.author.avatar.url }}" alt="Аватар {{ username }}" class="avatar avatar-ico">
      {% else %}
        <img src="{% static 'images/no_foto.jpg' %}" alt="Аватар по умолчанию" class="avatar avatar-ico">
      {% endif %}
      <a href="{% url 'users:user' username=comment.author.username %}"><b>
      {{ comment.author.username }}</b></a>: {{ comment.text }}<br>
    {{ comment.created_at|date:"d M Y H:i" }}
  </p>
  {% endfor %}
  <p align="center">{% include "includes/paginator.html" %}</p>
  {% endif %}
{% endblock %}