{% extends "base.html" %}
{% load static %}
{% block title %}
{{ html_name }}
{% endblock %}

{% block content %}
  {% with request.resolver_match.view_name as view_name %}
    {% if user.is_authenticated %}
    {{ view_name }}
      {% for object in object_list %}
        {% if view_name == 'users:user_following' %}
        11
          {% if forloop.first %}
            <h3>{{ user_profile }} подписался: {{ follower }}</h3>
          {% endif %}
          {{ object.following.username}} - {{ object.following.id}}<br>
        {% else  %}
          {% if forloop.first %}
            <h3>Подписчики {{ user_profile }}: {{ following }}</h3>
          {% endif %}
          {{ object.user.username}} - {{ object.user.id}}<br>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% comment %} {% block content %}
  {% with request.resolver_match.view_name as view_name %}
    {% if user.is_authenticated %}
      {% for object in object_list %}
          {% if view_name == 'users:user_following' %}
            {% if forloop.first %}
              <h3>Подписки {{ user_p }}</h3>
            {% endif %}
            {{ object.following.username }} - {{ object.following.id }}<br>
          {% else %}
            {% if forloop.first %}
              <h3>Подписчики {{ user_p }}</h3>
            {% endif %}
            {{ object.user.username }} - {{ object.user.id }}<br>
          {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %} {% endcomment %}