{% extends "base.html" %}
{% load static %}
{% block title %}
{{ html_name }}
{% endblock %}

{% block content %}
{{ list_type }}
  {% if user.is_authenticated %}
    {% for object in object_list %}
        {% if forloop.first %}
          <h3>{{ html_name }} {{ user_p }}</h3>
        {% endif %}
        {% if list_type == 'following' %}
          {{ object.following.username }} - {{ object.following.id }}<br>
        {% else %}
          {{ object.user.username }} - {{ object.user.id }}<br>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}