{% extends "base.html" %}
{% load static %}
{% block title %}
{{ html_name }}
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% for object in object_list %}
      {% if list_type == following %}
        {% if forloop.first %}
          <h3>{{ html_name }} {{ object.user.username }}</h3>
        {% endif %}
        {{ object.following.username }} - {{ object.following.id }}<br>
      {% else %}
        {% if forloop.first %}
          <h3>{{ html_name }} {{ object.following.username }}</h3>
        {% endif %}
        {{ object.user.username }} - {{ object.user.id }}<br>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}