{% extends "base.html" %}
{% load static %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<h3>Учетная запись {{ user_profile.avatar.username }}</h3>
	<p>{% if user_profile.avatar %}
		<a href="{{ user_profile.avatar.url }}" target="_blank">
		<img src="{{ user_profile.avatar.url }}" alt="Аватар {{ username }}" class="avatar">
		</a>
	{% else %}
		<img src="{% static 'images/no_foto.jpg' %}" alt="Аватар по умолчанию" class="avatar">
	{% endif %}
	{% if user.username == user_profile.username %}
		<a href='{% url "users:avatar_update" %}'>изменить аватар</a>
	{% endif %}
	</p>
	<p><b>Email:</b> {{ user_profile.email }}
		{% if user.username == user_profile.username %}
			<a href='{% url "users:email_update" %}'>изменить</a>
		{% endif %}
	</p>
	{% if user.username == user_profile.username %}
	<p><b>Пароль:</b> *** <a href='{% url "password_change" %}'>изменить</a></p>
	{% endif %}

	<p>
		Подписок: <a href="{% url 'users:user_following' user_profile.username %}">{{ following }}</a>
		Подписчики: <a href="{% url 'users:user_followers' user_profile.username %}">{{ follower  }}</a>
	</p>
	{% include "includes/film/comment.html" %}
{% endif %}
{% endblock %}


