{% extends "base.html" %}
{% load static %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<h3>Учетная запись {{ user_profile.username }}</h3>
	{% if user.username != user_profile.username %}
		<div style="display: flex; justify-content: flex-end;">
			<form method="post">
				{% csrf_token %}
				{% if is_follow and user.username != user_profile.username %}
					<input type="submit" value="Отписаться" name="favorite">
				{% else %}
					<input type="submit" value="Подписаться" name="favorite">
				{% endif %} 
			</form>
		</div>
	{% endif %} 
	<p>{% if user_profile.avatar %}
		<a href="{{ user_profile.avatar.url }}" target="_blank">
		<img src="{{ user_profile.avatar.url }}" alt="Аватар {{ username }}" class="avatar">
		</a>
	{% else %}
		<img src="{% static 'images/no_foto.jpg' %}" alt="Аватар по умолчанию" class="avatar">
	{% endif %}
	{% if user.username == user_profile.username %}
		<a href='{% url "users:edit_account" username=user.username %}' title="Изменить">
      		<img src="{% static 'images/izm.png' %}" class="izm-del-ico">
    	</a>
	{% else %}
		<button onclick="window.location.href='{% url 'users:message_username' user_profile.username %}';">
			Написать сообщение
		</button>
	{% endif %}
	</p>
	<p><b>Имя:</b> {{ user_profile.first_name }}</p>
	<p><b>Фамилия:</b> {{ user_profile.last_name }}</p>
	<p><b>Страна:</b> {{ user_profile.country }}</p>
	<p><b>Город:</b> {{ user_profile.city }}</p>
	<p><b>Email:</b> {{ user_profile.email }}</p>
	{% if user.username == user_profile.username %}
	<p><b>Пароль:</b> *** <a href='{% url "password_change" %}'>изменить</a></p>
	{% endif %}

	<p>
		Подписок: <a href="{% url 'users:user_following' user_profile.username %}">{{ following }}</a>
		Подписчики: <a href="{% url 'users:user_followers' user_profile.username %}">{{ follower  }}</a>
	</p>
	{% with request.resolver_match.view_name as view_name %}
		{% if page_obj.paginator.count > 0 %}
			<br><p>Все комментарии: {{ len_coments }}</p><br>
			{% for comment in page_obj %}
				{% include "includes/film/comment.html" %}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<p align="center">{% include "includes/paginator.html" %}</p>
{% endif %}
{% endblock %}


