{% extends "base.html" %}

{% block title %}
  Гланвая страница
{% endblock %}

{% block content %}     
  <h3>Главная</h3>
  <a href="{% url 'films:film' 1 %}">{% url 'films:film' 1 %}</a>
  <br>
  gtgtgtgt gt tgtgtgtgtgtgtgt gg tgtgtg tgtgt ggtgtg tgtgtgtgtgtgtgtgtgtgfvfv f vf f f f f fgf gfgfgfgf
  fgfgfgf  fgfgfgf gf f fgf g fgfgfgfgf fg f  fgfg fgf 
  f gfgfgfgfgfgfgtg tgtgtg tgt gt gtg t gtg tgtg tgt gt tgtgtg ttg
  tgtgtgtgtgt g gt t gtgtgtgtgtg tgtgtgtg gttgtgtg  tgtgtgt tg gt tg tgt gtgtgtgt
  tgtgtgt tgtgtgtgtgt
  
{% endblock %}