{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ html_title }}
{% endblock %}

{% block content %}   
  <link rel="stylesheet" href="{% static 'css/index-index.css' %}" type="text/css">  
  <h3>{{ html_name }}</h3>

  {% for id in results %}
    <div class="osnova">
      <div class="osnova-head">
        <div>
          <a href="{% url 'films:film' id %}"><img src="{% static 'images/test.gif' %}"></a>
        </div>
        <div>
          <h2><a href="{% url 'films:film' id %}">
            Название фильма <font color=#676767>/ Ориг название</font> (2024)
          </a></h2>
          <p><b>Жанр:</b> драма</p>
          <p><b>Страна:</b> Великобритания</p>
          <p><b>Категория:</b> фильм</p>
          <p><b>Рейтинг кинопоиска:</b> 7 (оценок 464)</p>
        </div>
      </div>
      <p><b>О фильме:</b> frfrfrfr  rfrfrfr frfr</p>
    </div>
  {% endfor %}
{% endblock %}